{% extends "template.html" %}


{% block content %}
    <div class="inv">
        <!-- main body holder -->

        <div class="inv">
            <!-- main body block -->
<!--            main body block-->
        
            <form action="#" method="post">
            <div class="inv">
                <p>Username:</p>
                <input type="text" name="unm" />
            </div>

            <div class="inv">
                <p>Password:</p>
                <input type="password" id="pwd" name="pwd">
            </div>


            <div class="inv">
                <!-- button holder -->

                <div class="inv">
                    <!-- login -->
                    <input type="submit" value="Submit"/>
                </div>

            </div>

            </form>
        </div>
        
        

        
    </div>
{% endblock %}

