{% extends "template.html" %}


{% block content %}
    <div  class="inv">
        <!-- main body holder -->

        <div class="inv ">
            <!-- main body block -->
<!--            main body block-->
        
            <form action="#" method="post">
            <div class="inv">
                <p>Username:</p>
                <input type="text" name="unm" />
            </div>
            <div class="inv">
                <p><label for="email">Email:</label></p>
                <input type="email" id="email" name="email">
            </div>
            <div class="inv">
                <p>Password:</p>
                <input type="password" id="pwd" name="pwd">
            </div>
            <div class="inv">
                <p><input type="checkbox" id="admin" name="admin" >
                <label for="admin"> Are  you an admin?</label></p>
            </div>


            <div class="inv">
                <!-- button holder -->

                <div class="inv">
                    <!-- login -->
                    <input style="background-color: green" type="submit" value="Submit"/>
                </div>

            </div>

            </form>
        </div>
        
        

        
    </div>
{% endblock %}

